<div class="container mx-auto w-full mt-20">
  <!-- Modal for form -->
  <div *ngIf="isOpenForm" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50">
    <div class="bg-white w-96 shadow-md rounded-md p-6">
      <div class="w-full">
        <form class="mb-4" [formGroup]="form">
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Event</label>
            <input formControlName="event" type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          </div>
          <div class="mb-4">
            <label for="hs-color-input" class="block text-sm font-medium mb-2 dark:text-white">Color picker</label>
            <input type="color" formControlName="color"
              class="p-1 h-10 w-14 block bg-white border border-gray-200 cursor-pointer rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700"
              id="hs-color-input" value="#2563eb" title="Choose your color">
          </div>
          <div class="flex items-center justify-between">
            <button *ngIf="!edit" (click)="onSubmit()"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="button">
              Submit
            </button>
            <button *ngIf="edit" (click)="editData()"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="button">
              edit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal for form -->

  <div *ngIf="opneDrop" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50">
    <div class="bg-white w-96 shadow-md rounded-md p-6">
      <form class="mb-4" [formGroup]="form">
        <div class="">
          <H1 class="mb-4">Would You want to Edit or delite</H1>
          <button class="btn" (click)="deleteEvent(selectedEvent.id)">Delete</button>
          <button class="edit" (click)="updateEvent(selectedEvent)">Edit</button>
        </div>
      </form>
    </div>
  </div>
  <full-calendar #calender [options]="calendarOptions"></full-calendar>
</div>